/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 * {
   padding: 0;
   margin: 0;
 }
 header{
    display:flex;
    /* width:1200px; */
    background-color: #E6C597;
    background-size: cover;
    height:80px;
    align-items: center;
 }

 header h1{
    color:#fff;

 }

 .log{
    margin-left:800px;
    display:flex;
    
 }

 .log h3{
    margin-left:20px;
 }

 .logo-image{
   width: 80px;
   height: auto;
}

.hito{
   margin-left: 100px;
}

.log2{
   color:#f7f4f2

}

.log3{
   color:#f7f4f2

}

.log4{
   color:#f7f4f2

}

.fa-solid fa-paper-plane fa-2x{
   color:#f7f4f2
}

.fa-solid fa-user fa-2x{
   color:#f7f4f2
}

.fa-solid fa-right-to-bracket fa-2x{
   color:#f7f4f2
}

.link{
   text-decoration: none!important;
}
