.hensyuu{
    padding-top: 20px;
    padding-bottom: 5px;
}

.shokuzai{
    padding-top: 20px;
    padding-bottom: 5px;
}

.tukurikata2 label{
    margin-bottom: 2px;
    vertical-align: top;
}

.shokuzai2 label{  
    margin-bottom: 2px;
    vertical-align: top;
}

input#meal_material{
    text-align: left;
    line-height: 1;
}